<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Funcionários</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav>
                <a href ="/portal"> Voltar para o portal </a>
            </nav>
             <h1>Lista de funcionarios na empresa</h1>
        </header>
        <main>
            <table>
                <tr>
                    <th> ID </th>
                    <th> Nome </th>
                    <th> Cargo </th>
                    <th> Departamento </th>
                    <th> Email </th>
                    <th> Contratação </th>
                    <th> Ações </th>
                    
                </tr>
                <tr th:each = "f : ${lista}">
                    <td th:text= "${f.id}" ></td>
                    <td th:text= "${f.nome}" ></td>
                    <td th:text= "${f.cargo}" ></td>
                    <td th:text= "${f.departamento}" ></td>
                    <td th:text= "${f.email}" ></td>
                    <td th:text= "${f.dataContratacao}" ></td>
                    <td th:text= "{/perfil(id=${f.id}}">Editar<</td>
                </tr>
            </table>
        </main>
    </body>
</html>
